body {
  margin: 0;
  
  background: black;
  touch-action: none;
animation: fadeIn 1.5s ease-in;
   
}
  






canvas {
  display: block;
}

.magic{
    position: absolute;
    user-select: none;
    color: rgb(1, 83, 1);
    z-index: 1;
    top: 50%;
    left: 50%;
    text-align: center;
  transform: translate(-50%, -50%);
  font-size: 14px;
  width: 90%;
  white-space: nowrap;
  font-size: clamp(16px, 8vw, 50px); 
  
 
   
}

.magicCanvas{
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    pointer-events: none;
}


@media (max-width: 480px) {
  .magic {
    font-size: 50px; /* Фикс, если vw слишком мелкий */
  }

}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

p{
    font-size: 14px;
}